body {
  margin: 0;
  padding: 0;

}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

.menu-toggle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.5s ease;
}

.menu-toggle img {
  display: block;
  width: 100%;
  height: 100%;
}
/*//Rotação do botão de menu*/
.menu-toggle.active {
  transform: rotate(100deg);
}
.nav-links {
  display: none;
  position: fixed;
  bottom: 80px;
  left: 20px;
  width: 90%;
  max-width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  z-index: 999;
  transition: transform 0.5s ease;
}

.nav-links.active {
  display: block;
}

.nav-links li {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.nav-links li:last-child {
  border-bottom: none;
}

.nav-links a {
  color: #333;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
}

/* Estilos responsivos */
@media (max-width: 360px) {
  .menu-toggle {
    height: 40px;
    width: 40px;
    bottom: 10px;
    right: 10px;
  }

  .nav-links {
    bottom: 60px;
    right: 10px;
    width: calc(100% - 20px);
    max-width: none;
    padding: 5px;
  }

  .nav-links li {
    margin: 5px 0;
    padding: 5px 0;
  }
}
/* noticias */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
/*noticias*/

.noticia-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
}

.noticia-link {
  text-decoration: none;
}

.noticia1, .noticia2, .noticia3, .noticia4 {
    max-width: 700px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}
.conteudo {
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.texto {
  flex: 1;
}

.noticia1 h2, .noticia2 h2, .noticia3 h2, .noticia4 h2 {
  margin-top: 0;
}

.noticia1 p, .noticia2 p, .noticia3 p, .noticia4 p {
  line-height: 1.6;
}

.noticia1 h5, .noticia2 h5, .noticia3 h5, .noticia4 h5 {
  margin-bottom: 0; /* Remove margem inferior do subtítulo */
  color: #666; /* Cor do subtítulo */
}

/*cards*/

.equipe {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 150px;
}

.equipeConteudo {
    gap: 20px;
	padding: 0 10%;
	flex-direction: column;
	align-items: center;
}

.equipeTitulo {
	font-size: 30px;
    text-align: center;
}

.equipeCards {
   display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.equipeCard {

	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
    width: 100%;
}

.cardFoto {
	width: 150px;
	height: 150px;
	object-fit: cover;
	padding: 10px;
	border: solid 3px chartreuse;
	border-radius: 100px;
	z-index: 2;
}

.cardTextos {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 100px 20px 40px 20px;
	border: solid 3px greenyellow;
	border-radius: 20px;
	margin-top: -100px;
	position: relative;
	z-index: 1;

}

.cardLink {
	display: flex;
	flex-direction: row-reverse;
}

.cardNome {
	font-size: 20px;
	color: black;
    text-align: center;
}

.cardTexto {
	max-height: 360px;
	height: 360px;
	font-size: 16px;
	color: black;
	font-weight: 500;
	line-height: 24px;
}

.linkedin {
	width: 64px;
	height: auto;
	position: absolute;
}

.linkedin:hover {
	cursor: pointer;
	scale: 1.2;
}



/**/