<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Douglas Moraes, Neto Russo, Romulo Nogueira, Pedro Augusto">
  <link rel="shortcut icon" href="src/img/favicon.png" type="image/png">
  <title>Turnover - Gestão em RH</title>

  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/banner.css">
</head>

<body>

  <header>
    <!-- Menu desktop -->
    <div class="menuDesktop">
      <div class="logoMenuBox">
        <a class="logoMenuLink" href="index.html" title="Voltar a home">
          <img class="logoMenu" src="src/img/logo_Turnover.png" alt="Logo da empresa turnover">
        </a>
      </div>
      <nav class="navMenuDesktop">
        <ul class="navLinks">
          <li><a href="#sobreNos">Sobre Nós</a></li>
          <li><a href="#contatos">Contatos</a></li>
          <li><a href="pages/login.html">Login</a></li>
        </ul>
      </nav>
    </div>

    <!-- Banner -->
    <div class="bannerHeader">
      <img class="logoBanner" src="src/img/logo_Turnover_branco.png" alt="Logo da empresa turnover">
      <h2 class="bannerTitulo">Cuidando do maior valor da sua empresa as <span
          class="bannerTituloDestaque">Pessoas</span></h2>
      <div class="overlay"></div>
      <video class="bannerVideo" autoplay loop muted>
        <source src="src/video/videoBanner.mp4" type="video/mp4">
        seu navegador não suporta o video
      </video>

    </div>

    <!-- MENU MOBILE  -->
    <div class="menuMobile" id="menuMobile">
      <img src="src/img/iso_tipo_turnover.png" alt="Menu">
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="pages/login.html">Login</a></li>
        <li><a href="index.html">Pagina inical</a></li>
        <li><a href="#sobreNos">Sobre Nós</a></li>
        <li><a href="#contatos">Contatos</a></li>
      </ul>
    </nav>

  </header>

  <main>

    <section class="noticiaSection" aria-label="Noticias do setor de Recursos humanos">

      <div class="noticiaCabecalho">
        <h2 class="noticiasTitulo">Noticias do setor de Recursos humanos</h2>
        <img class="simboloNoticia" src="src/img/iso_tipo_turnover.png" alt="Simbolo do turnover">
      </div>


      <div class="noticiaBox noticiaE">
        <a class="linkReferencia"
          href="https://www.contabeis.com.br/noticias/66063/o-que-muda-com-a-inteligencia-artificial-na-contabilidade-e-no-rh/"
          target="_blank" title="Contábeis || O que muda com a inteligência artificial na contabilidade e no RH">
          <img src="src/img/IANoRH.webp" alt="Imagem da noticia" class="noticiaImg">
        </a>

        <div class="noticiaBoxTextos ladoE">
          <h2 class="noticiaBoxTitulo ladoE">O que muda com a inteligência artificial na contabilidade e no RH</h2>
          <p class="noticiaBoxTexto ladoE">
            Cada vez mais, as pessoas estão usando a inteligência artificial (IA) como ferramenta para facilitar
            processos e trazer praticidade para suas vidas atribuladas. A popularização desse recurso também se reflete
            nas áreas administrativas de órgãos públicos e empresas privadas, que vêm investindo em inovações
            tecnológicas, programas de capacitação profissional e upskilling, além da atração de talentos com as
            habilidades condizentes com essa tendência.
          </p>
          <a class="linkReferencia ladoE"
            href="https://www.contabeis.com.br/noticias/66063/o-que-muda-com-a-inteligencia-artificial-na-contabilidade-e-no-rh/"
            target="_blank" title="Contábeis || O que muda com a inteligência artificial na contabilidade e no RH">
            <p class="noticiaFonte ladoE">Contábeis - Click aqui para acessar a matéria na integra.</p>
          </a>
        </div>
      </div>

      <div class="noticiaBox noticiaD">
        <a class="linkReferencia"
          href="https://www.terra.com.br/noticias/prioridades-para-liderancas-e-rh-no-mundo-do-trabalho,d1944adb4da47c80f576b1244cbbd0eauv9pez5t.html#:~:text=Os%20atributos%20mais%20importantes%20a,resolu%C3%A7%C3%A3o%20de%20problemas%20(29%25)."
          target="_blank" title="Terra Agora || Prioridades para Lideranças...">
          <img src="src/img/prioridadeNoRh.jpg" alt="Pessoas reunidads em um grupo" class="noticiaImg">
        </a>

        <div class="noticiaBoxTextos ladoD">
          <h2 class="noticiaBoxTitulo ladoD">Prioridades para Lideranças e RH no Mundo<br> do Trabalho</h2>
          <p class="noticiaBoxTexto ladoD">
            Mudanças no mercado e nas prioridades dos colaboradores impõem desafios às companhias; pesquisa do
            ManpowerGroup revela as apostas para os próximos meses.
            A rápida transformação digital, aliada às mudanças no comportamento e nos objetivos dos profissionais, pode
            impor novas demandas às empresas na atração e na gestão de suas equipes para os próximos meses. Para deixar
            o cenário ainda mais desafiador...
          </p>
          <a class="linkReferencia ladoD"
            href="https://www.terra.com.br/noticias/prioridades-para-liderancas-e-rh-no-mundo-do-trabalho,d1944adb4da47c80f576b1244cbbd0eauv9pez5t.html#:~:text=Os%20atributos%20mais%20importantes%20a,resolu%C3%A7%C3%A3o%20de%20problemas%20(29%25)."
            target="_blank" title="Terra Agora || Prioridades para Lideranças...">
            <p class="noticiaFonte ladoD">Terra Agora - Click aqui para acessar a matéria na integra.</p>
          </a>
        </div>
      </div>
      <!-- <h1>Noticiais</h1>
      
      <a href="https://www.correioweb.com.br/mundo-corporativo">
        <div class="noticia2-container">
          <div class="noticia2">
            <div class="conteudo">
              <img src="938f175c_5bfe_43cd_8f20_0d5948f3de92-38962628.jpg" width="300" height="168" alt="">
              <div class="texto">
                <h2>Prioridades para Lideranças e RH no Mundo do Trabalho</h2>
                <p>Mudanças no mercado e nas prioridades dos colaboradores impõem desafios às companhias; pesquisa do
                  ManpowerGroup revela as apostas para os próximos meses.</p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </a>
  
  
      <a href="https://www.contabeis.com.br/noticias/66063/o-que-muda-com-a-inteligencia-artificial-na-contabilidade-e-no-rh/"
        class="noticia-link">
        <div class="noticia3">
          <div class="conteudo">
            <img src="o-que-muda-com-a-inteligencia-artificial-na-contabilidade-e-no-rh.webp" width="300" height="168"
              alt="">
            <div class="texto">
              <h2>O que muda com a inteligência artificial na contabilidade e no RH</h2>
              <p>O uso de IA na contabilidade e recursos humanos vem se tornando uma prática comum nas empresas. Entenda
                como isso impacta os profissionais dessas áreas.</p>
              <p>12/07/2024 08:45</p>
              <p>informe publicitário</p>
            </div>
          </div>
        </div>
      </a>
  
  
      <a href="https://www.contabeis.com.br/noticias/66107/profissionais-brasileiros-sao-os-que-mais-recusariam-promocao-no-trabalho-para-preservar-o-bem-estar/"
        class="noticia-link">
        <div class="noticia4">
          <div class="conteudo">
            <img
              src="profissionais-brasileiros-sao-os-que-mais-recusariam-promocao-no-trabalho-para-preservar-o-bem-estar.webp"
              width="300" height="168" alt="">
            <div class="texto">
              <h2>Profissionais brasileiros são os que mais recusariam promoção no trabalho para preservar o bem-estar,
                revela pesquisa global Michael Page</h2>
              <p>Os profissionais brasileiros são os que mais recusariam promoção no trabalho para preservar o bem-estar.
                É o que aponta o estudo global Talent Trends, da Michael Page, uma das maiores consultorias especializadas
                em recrutamento de executivos. De acordo com a pesquisa, 56% dos profissionais brasileiros recusariam uma
                promoção a fim de preservar o bem-estar. Os indicadores do Brasil superam as médias global (48%), da
                América Latina (43%) e de países como Colômbia (44%), Panamá (42%), Argentina (41%), Chile (39%), Peru
                (18%) e México (36%).</p>
              <p>17/07/2024 18:30</p>
              <p>Fonte: Michael Page</p>
            </div>
          </div>
        </div>
      </a> -->

    </section>

    <!-- chamada -->

    <section class="secaoChamada" aria-label="Conheça mais sobre a Turnover">

      <div class="faixaChamada">
        <p class="faixaTexto">
          Chega de <span class="faixaTextoDestaque">"Familia"</span> e <span
            class="faixaTextoDestaque">"Feedbacks"</span>
          que só te enrolam! </p>
        <p class="faixaTexto">
          Aqui você encontra o que o seu RH realmente precisa!
        </p>
        <img class="logoFaixa" src="src/img/logo_Turnover_branco.png" alt="Logo da empresa turnover">
      </div>

      <div class="chamadaDor">

        <video class="chamadaDorVideo" autoplay loop muted>
          <source src="src/video/rh_frustrada.mp4" type="video/mp4">
          video não suportado
        </video>

        <div class="dorTextos">
          <h2 class="dorSuperTitulo">Cansado de uma gestão com:</h2>
          <h3 class="dorTitulo">Processos Manuais Ineficientes ?</h3>
          <ul class="dorLista">
            <li class="dorItem">Os processos manuais, como o cadastramento de colaboradores e o acompanhamento de
              documentação, são lentos e propensos a erros.</li>
            <li class="dorItem">Essas atividades consomem tempo e recursos valiosos, prejudicando a eficiência e a
              produtividade da sua equipe.</li>
          </ul>

          <h3 class="dorTitulo">Falta de Centralização de Informações ?</h3>
          <ul class="dorLista">
            <li class="dorItem">A dispersão de informações em diferentes sistemas ou arquivos físicos dificulta o acesso
              rápido e preciso aos dados dos funcionários cedidos.</li>
            <li class="dorItem">Isso gera atrasos e frustrações, impactando negativamente a gestão de recursos humanos.
            </li>
          </ul>

          <h3 class="dorTitulo">Visão Limitada e Tomada de Decisões ?</h3>
          <ul class="dorLista">
            <li class="dorItem">A ausência de dados consolidados e análises aprofundadas sobre a locação dos
              colaboradores impede a identificação de oportunidades de otimização.</li>
            <li class="dorItem">Isso dificulta a tomada de decisões estratégicas assertivas, comprometendo o crescimento
              e a eficiência da sua empresa.</li>
          </ul>
        </div>
      </div>

      <div class="chamadaSolucao">

        <div class="solucaoTextos">
          <h2 class="solucaoSuperTitulo">Venha para Turnover</h2>

          <h3 class="solucaoTitulo">Acesso aos Dados do Colaborador</h3>
          <p class="solucaoTexto">Armazene e gerencie dados documentais com acesso rápido e seguro para todos os
            envolvidos no processo.
            Reduza o uso de papel e aumente a eficiência.</p>

          <h3 class="solucaoTitulo">Painéis e Relatórios Personalizados</h3>
          <p class="solucaoTexto">Crie painéis e relatórios personalizados para acompanhar o desempenho dos
            colaboradores, identificar
            oportunidades de otimização e tomar decisões estratégicas assertivas.</p>

          <h3 class="solucaoTitulo">Área do Funcionário</h3>
          <p class="solucaoTexto">Área para que os funcionários atualizem seus dados e acessem informações importantes,
            reduzindo a carga de
            trabalho da equipe interna.</p>

          <h3 class="solucaoTitulo">Colaborador no Centro do Processo</h3>
          <p class="solucaoTexto">Priorizamos a agilidade na contratação, oferecendo um processo simplificado, rápido,
            transparente e
            personalizado.</p>
        </div>
        <video class="chamadaSolucaoVideo" autoplay loop muted>
          <source src="src/video/rh_group.mp4" type="video/mp4">
          video não suportado
        </video>
      </div>

      <div class="ctaBox">
        <h3 class="cta">Descubra como nosso software pode transformar a gestão de RH da sua empresa.</h3>
        <a href="#" class="ctabtn">Solicite uma demonstração agora!</a>
      </div>
    </section>

    <!-- sobre nós -->
    <section id="sobreNos" class="about" aria-label="Sobre nós">
      <div class="aboutBox">
        <div class="aboutBoxTextos">
          <div class="aboutCabecalho">
            <h2 class="aboutTitulo">Nossa História</h2>
            <img class="aboutCabecalhoSimbolo" src="src/img/iso_tipo_turnover.png" alt="Simbolo do turnover">
          </div>
          <p class="aboutTexto">A Turnover nasceu com uma missão clara: revolucionar a gestão de recursos humanos.
            Fundada por visionários apaixonados por tecnologia e pessoas, a empresa desenvolve softwares inovadores que
            transformam processos complexos em soluções simples e eficientes. Com uma equipe dedicada e comprometida, a
            Turnover ajuda empresas a centralizar informações, criar relatórios personalizados e colocar o colaborador
            no centro do processo. Cada linha de código é escrita com o objetivo de melhorar a vida dos profissionais de
            RH e impulsionar o sucesso das organizações.</p>
        </div>
        <img class="aboutLogo" src="src/img/logo_Turnover.png" alt="logo do turnover">
      </div>
      <div class="colaborador">

        <div class="colaboradorCabecalho">
          <h2 class="colaboradorTitulo">Conheça nossos colaboradores</h2>
          <img class="aboutCabecalhoSimbolo" src="src/img/iso_tipo_turnover.png" alt="Simbolo do turnover">
        </div>
        <div class="cardsColaborador">


          <div class="cardColaborador">

            <img class="fotoCardColaborador" src="src/img/neto.jpeg" alt="Foto do Neto Russo">

            <div class="cardTextos">
              <h4 class="cardNome">Argeu do Carmo Russo Neto</h4>
              <h5 class="cardCargo">Desenvolvedor Full-Stack em Java</h5>

              <p class="cardTexto">
                Após a minha amputação em 2022 migrei para a tecnologia. Sou graduado em Publicidade e Marketing,
                certificado em PNL, e me dedico ao desenvolvimento frontend, trazendo vasta experiência em gestão e
                projetos.
              </p>
              <a href="https://www.linkedin.com/in/neto-russo/" target="_blank" title="Neto Russo || Linkedin" class="linkedin"><img src="src/img/linkedin.png" alt="logo do linkedin" class="linkedinLogo"></a>
            </div>
          </div>
          <div class="cardColaborador">

            <img class="fotoCardColaborador" src="src/img/douglas.jpg" alt="Foto do Douglas Moraes Ferreira">

            <div class="cardTextos">
              <h4 class="cardNome">Douglas Daniel Moraes Ferreira</h4>
              <h5 class="cardCargo">Desenvolvedor Full-Stack em Java</h5>

              <p class="cardTexto">
                Sou proativo, soluciono problemas e supero expectativas. Valorizo o trabalho em equipe e a colaboração.
                Minha adaptação e determinação me ajudam a enfrentar desafios e encontrar soluções eficazes, agregando
                valor ao time.
              </p>
              <a href="https://www.linkedin.com/in/douglas-daniel-moraes-ferreira-741334180/" target="_blank" title="Douglas Ferreira || Linkedin" class="linkedin"><img src="src/img/linkedin.png" alt="logo do linkedin" class="linkedinLogo"></a>
            </div>
          </div>
          <div class="cardColaborador">
            <img class="fotoCardColaborador" src="src/img/pedro2.jpg" alt="" class="cardFoto">
            <div class="cardTextos">
              <h4 class="cardNome">Pedro Augusto Montes</h4>
              <h5 class="cardCargo">Desenvolvedor Full-Stack em Java</h5>
              <p class="cardTexto">
                Sou desenvolvedor apaixonado em inovação e tecnologia, sempre aprendendo novas linguagens e
                metodologias. Tenho experiência em HTML, CSS, JavaScript, Java e SQL. Proativo, organizado e
                comunicativo, busco contribuir para projetos que façam a diferença na sociedade.
              </p>
              <a href="https://www.linkedin.com/in/pedroaugustomontes/" target="_blank" title="Pedro Augusto|| Linkedin" class="linkedin"><img src="src/img/linkedin.png" alt="logo do linkedin" class="linkedinLogo"></a>
            </div>
          </div>
          <div class="cardColaborador">
            <img class="fotoCardColaborador" src="src/img/romulo.jpeg" alt="" class="cardFoto">
            <div class="cardTextos">
              <h4 class="cardNome">Romulo Nogueira</h4>
              <h5 class="cardCargo">Desenvolvedor Full-Stack em Java</h5>
              <p class="cardTexto">
                Desenvolvedor focado em tecnologia e inovação, cursando CST em Análise e Desenvolvimento de Sistemas na
                Estácio de Sá, com formações em Front-End, Full Stack e Java. Experiência em Segurança do Trabalho,
                aplico criatividade e determinação em projetos inovadores.
              </p>
              <a href="https://www.linkedin.com/in/romulo-nogueira-605594185/" target="_blank" title="Romulo Nogueira|| Linkedin" class="linkedin"><img src="src/img/linkedin.png" alt="logo do linkedin" class="linkedinLogo"></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- fim do sobre nós -->


    <section id="contatos" class="contatos" aria-label="Contatos">

      <div class="contatosBox">

        <div class="contatosCabecalho">
          <h2 class="contatosTitulo">Entre em contato Contato</h2>
          <img class="aboutCabecalhoSimbolo" src="src/img/iso_tipo_turnover.png" alt="Simbolo do turnover">
        </div>

        <div class="contatosContainer">

          <form class="contatoForm">
            <label for="nome">
              <p class="labelForm">Nome:</p>
            </label>
            <input type="text" id="nome" name="nome" placeholder="Me diga o seu nome" required
              class="formInput inputNome">

            <label for="email">
              <p class="labelForm">Email:</p>
            </label>
            <input type="email" id="email" name="email" placeholder="O seu melhor e-mail" required
              class="formInput inputEmail">
            <label for="telefone">
              <p class="labelForm">Email:</p>
            </label>
            <input type="text" id="telefone" name="email" placeholder="Qual o seu telefone?" required
              class="formInput inputTelefone">
            <label for="mensagem">
              <p class="labelForm">Mensagem:</p>
            </label>
            <textarea id="mensagem" name="mensagem" placeholder="Me conte tudo e não me esconda nada..." width="300"
              class="formInput inputMensagem"></textarea>
            <button class="formBtn">enviar</button>
          </form>

          <div class="contatosChamada">
            <img src="src/img/logo_Turnover.png" alt="Logo da Turnover" class="logoContatos">
            <p class="chamadaTexto"> Descubra como a Turnover pode transformar sua gestão de RH. Solicite um orçamento agora e otimize seus processos!</p>
          </div>

        </div>

      </div>

    </section>

  </main>

  <footer class="rodaPe">
    <p class="rodaPeTexto">CNAE. 7830-2/00 || CNPJ. 00.000.000/000-00 || todos direitos reservados Turnover® 2024 ||  #BORACODAR</p>
  </footer>
  <script src="scripts/main.js"></script>
</body>

</html>