<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Douglas Moraes, Neto Russo, Romulo Nogueira, Pedro Augusto">
  <title>Turnover - Gestão em RH</title>
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <header>
    <h1>Sistema de Gereciamento de RH</h1>
    <h2>Seu gerenciamento na palma de sua mão.</h2>
    <div class="menu-toggle">
      <img src="Ativo 9.png" alt="Menu">
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="#">Login</a></li>
        <li><a href="#">Bater Ponto</a></li>
        <li><a href="#">Sobre Nós</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Noticiais</h1>
    <a href="https://www.instagram.com/donuts.tech?igsh=OGJhcTEzemhiZjA3">
      <div class="noticia1-container">
        <div class="noticia1">
          <h2>Zona polegar para acessibilidade</h2>
          <img src="Donut you love.pptx.png" width="300" height="168" alt="">
          <p>Um projeto em andamento de muito mais que um simples código. Quando analisamos um topo de uma equipe
            multiple diciplidar e verificamos que a visão unica de cada um pode transformar uma coisa que já estava
            pronta em outra transformadoura e objetiva. Visando esse horizoente e sabendo que novos projetos em
            desenvolvimentos estão ficando prontos na donuts tech e a preocupação com a inovação fez pensar como e o
            mapa de toquem para quem mexe no celular apenas uma vez. </p>
          <h5>donut's tech</h5>
        </div>
      </div>
    </a>
    <a href="https://www.correioweb.com.br/mundo-corporativo">
      <div class="noticia2-container">
        <div class="noticia2">
          <div class="conteudo">
            <img src="938f175c_5bfe_43cd_8f20_0d5948f3de92-38962628.jpg" width="300" height="168" alt="">
            <div class="texto">
              <h2>Prioridades para Lideranças e RH no Mundo do Trabalho</h2>
              <p>Mudanças no mercado e nas prioridades dos colaboradores impõem desafios às companhias; pesquisa do
                ManpowerGroup revela as apostas para os próximos meses.</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </a>


    <a href="https://www.contabeis.com.br/noticias/66063/o-que-muda-com-a-inteligencia-artificial-na-contabilidade-e-no-rh/"
      class="noticia-link">
      <div class="noticia3">
        <div class="conteudo">
          <img src="o-que-muda-com-a-inteligencia-artificial-na-contabilidade-e-no-rh.webp" width="300" height="168"
            alt="">
          <div class="texto">
            <h2>O que muda com a inteligência artificial na contabilidade e no RH</h2>
            <p>O uso de IA na contabilidade e recursos humanos vem se tornando uma prática comum nas empresas. Entenda
              como isso impacta os profissionais dessas áreas.</p>
            <p>12/07/2024 08:45</p>
            <p>informe publicitário</p>
          </div>
        </div>
      </div>
    </a>


    <a href="https://www.contabeis.com.br/noticias/66107/profissionais-brasileiros-sao-os-que-mais-recusariam-promocao-no-trabalho-para-preservar-o-bem-estar/"
      class="noticia-link">
      <div class="noticia4">
        <div class="conteudo">
          <img
            src="profissionais-brasileiros-sao-os-que-mais-recusariam-promocao-no-trabalho-para-preservar-o-bem-estar.webp"
            width="300" height="168" alt="">
          <div class="texto">
            <h2>Profissionais brasileiros são os que mais recusariam promoção no trabalho para preservar o bem-estar,
              revela pesquisa global Michael Page</h2>
            <p>Os profissionais brasileiros são os que mais recusariam promoção no trabalho para preservar o bem-estar.
              É o que aponta o estudo global Talent Trends, da Michael Page, uma das maiores consultorias especializadas
              em recrutamento de executivos. De acordo com a pesquisa, 56% dos profissionais brasileiros recusariam uma
              promoção a fim de preservar o bem-estar. Os indicadores do Brasil superam as médias global (48%), da
              América Latina (43%) e de países como Colômbia (44%), Panamá (42%), Argentina (41%), Chile (39%), Peru
              (18%) e México (36%).</p>
            <p>17/07/2024 18:30</p>
            <p>Fonte: Michael Page</p>
          </div>
        </div>
      </div>
    </a>
    <!-- fim noticias -->
    <!-- inicios sobre nós -->
    <h1>Sobre Nós</h1>
    <div class="equipeCards">
      <div class="equipeCard douglasFerreira">
        <img src="douglas.jpg" alt="" class="cardFoto">
        <div class="cardTextos">
          <h4 class="cardNome">Douglas Daniel Moraes Ferreira</h4>
          <p class="cardTexto">Desde 2017, tenho buscado constantemente aprimorar minhas habilidades profissionais, com
            foco em diversas áreas, desde administração até tecnologia. Concluí meu bacharelado em administração e
            atualmente estou cursando Engenharia de Software na Unicesumar, com previsão de conclusão em 2027.
            Participei do Bootcamp Santander 202, especializando-me em Java e Angular. Tenho planos de seguir minha
            especialização em banco de dados e desenvolvimento de sistemas. Estou comprometido em me tornar um
            profissional qualificado, pronto para enfrentar os desafios do mercado e contribuir para o sucesso das
            organizações.</p>

        </div>
      </div>
      <div class="equipeCard netoRusso">
        <img src="neto.jpeg" alt="Imagem do Neto Russo com cabelos escuros e barba rala e oculos escuros"
          class="cardFoto">
        <div class="cardTextos">
          <h4 class="cardNome">Neto Russo</h4>
          <p class="cardTexto">Neto Russo é um profissional brasileiro com uma história inspiradora de superação e
            paixão pela tecnologia. Graduado em Publicidade e Marketing, com ênfase em H2H, e certificado em PNL para
            lidar com inteligência emocional e resolução de conflitos, ele possui uma bagagem profissional sólida e
            diversificada. Ao longo de sua carreira, acumulou experiência em gestão, supervisão, negociação, consultoria
            e desenvolvimento de projetos, demonstrando grande versatilidade e capacidade de adaptação a diferentes
            desafios.
            Em 2022, Neto enfrentou um momento crucial em sua vida: uma cirurgia de amputação. Com resiliência e força
            de vontade admiráveis, ele transformou esse evento em uma oportunidade de reinvenção profissional. Movido
            por um fascínio crescente pela área de tecnologia, ele decidiu migrar sua carreira para o desenvolvimento
            frontend, área na qual vem se dedicando com afinco e entusiasmo.</p>

        </div>
      </div>
      <div class="equipeCard Romulo">
        <img src="romulo.jpeg" alt="Imagem do Marcelo com cabelos escuros e barba rala" class="cardFoto">
        <div class="cardTextos">
          <h4 class="cardNome">Romulo Nogueira de Souza</h4>
          <p class="cardTexto"> 39 anos, herói da vida real, superou desafios na área de Segurança do Trabalho e
            enfrentou complicações de saúde. Em fevereiro de 2023, uma infecção grave levou à amputação trans tibial
            abaixo do joelho.
            Com apoio da companheira e equipe médica, ele superou o luto e aprendeu a viver com a prótese. Apesar do
            alto custo, uma vaquinha online proporcionou o apoio necessário.
            Com a prótese, Rômulo deu os primeiros passos em sua nova jornada, inspirando outros a enfrentarem
            adversidades com esperança e força.
            Símbolo de perseverança e esperança, ele ensina que a força interior nos permite recomeçar e construir uma
            vida significativa.</p>
        </div>
      </div>

      <div class="equipeCard pedro">
        <img src="pedro (2).jpeg" alt="" class="cardFoto">
        <div class="cardTextos">
          <h4 class="cardNome">João Vitor Gonçalves Soares Dos Santos</h4>
          <p class="cardTexto">Profissional dedicado e apaixonado pelo desenvolvimento Front-End, com um forte
            compromisso com o aprendizado contínuo e o aprimoramento pessoal e profissional...</p>

        </div>
      </div>
    </div>
    </div>
    </div>




    </section>
    <section id="contatos" class="contatos secao">

      <div class="contatinos">
        <h2 class="contatosTitulo">Entre em contato Contato</h2>
        <p class="contatosTexto">qualquer duvida deixe seus contatos ou chame a baixo!</p>

        <form action="seuemail@gmail.com" method="post" enctype="text/plain" class="contatoForm">

          <label for="nome">
            <h4 class="formTitulo">Nome:</h4>
          </label><br>
          <input type="text" id="nome" name="nome" placeholder="Me diga o seu nome" required class="formInput"><br>

          <label for="email">
            <h4 class="formTitulo">Email:</h4>
          </label><br>
          <input type="email" id="email" name="email" placeholder="O seu melhor e-mail" required class="formInput"><br>

          <label for="mensagem">
            <h4 class="formTitulo">Mensagem:</h4>
          </label><br>
          <textarea id="mensagem" name="mensagem" placeholder="Me conte tudo e não me esconda nada..." width="300"
            required class="formMensagem"></textarea><br>

          <button class="botaoEnviar botao">enviar</button>
          <button class="botaoLimpar botao" type="reset">limpar</button>
      </div>
    </section>
  </main>

  <footer>
    <p>CNAE. 7830-2/00 || CNPJ. 00.000.000/000-00 || todos direitos reservados Turnover® 2024</p>
  </footer>
  <script src="scrips/main.js"></script>
</body>

</html>