<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Douglas Moraes, Neto Russo, Romulo Nogueira, Pedro Augusto">
  <title>Turnover - Gestão em RH</title>

  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/banner.css">
</head>

<body>

  <header>
    <!-- Menu desktop -->
    <div class="menuDesktop">
      <div class="logoMenuBox">
        <a class="logoMenuLink" href="index.html" title="Voltar a home">
          <img class="logoMenu" src="src/img/logo_Turnover.png" alt="Logo da empresa turnover">
        </a>
      </div>
      <nav class="navMenuDesktop">
        <ul class="navLinks">
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Contatos</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </nav>
    </div>

    <!-- Banner -->
    <div class="bannerHeader">
      <img class="logoBanner" src="src/img/logo_Turnover_branco.png" alt="Logo da empresa turnover">
      <h2 class="bannerTitulo">Cuidando do maior valor da sua empresa as <span
          class="bannerTituloDestaque">Pessoas</span></h2>
      <div class="overlay"></div>
      <video class="bannerVideo" autoplay loop muted>
        <source src="src/video/videoBanner.mp4" type="video/mp4">
        seu navegador não suporta o video
      </video>

    </div>

    <!-- MENU MOBILE  -->
    <!-- <div class="menu-toggle">
      <img src="src/img/iso_tipo_turnover.png" alt="Menu">
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="#">Login</a></li>
        <li><a href="#">Bater Ponto</a></li>
        <li><a href="#">Sobre Nós</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav> -->

  </header>

  <main>

    <section class="noticiaSection" aria-label="Noticias do setor de Recursos humanos">

      <div class="noticiaCabecalho">
        <h2 class="noticiasTitulo">Noticias do setor de Recursos humanos</h2>
        <img class="simboloNoticia" src="src/img/iso_tipo_turnover.png" alt="Simbolo do turnover">
      </div>


      <div class="noticiaBox noticiaE">
        <a class="linkReferencia"
          href="https://www.contabeis.com.br/noticias/66063/o-que-muda-com-a-inteligencia-artificial-na-contabilidade-e-no-rh/"
          target="_blank" title="Contábeis || O que muda com a inteligência artificial na contabilidade e no RH">
          <img src="src/img/IANoRH.webp" alt="Imagem da noticia" class="noticiaImg">
        </a>

        <div class="noticiaBoxTextos ladoE">
          <h2 class="noticiaBoxTitulo ladoE">O que muda com a inteligência artificial na contabilidade e no RH</h2>
          <p class="noticiaBoxTexto ladoE">
            Cada vez mais, as pessoas estão usando a inteligência artificial (IA) como ferramenta para facilitar
            processos e trazer praticidade para suas vidas atribuladas. A popularização desse recurso também se reflete
            nas áreas administrativas de órgãos públicos e empresas privadas, que vêm investindo em inovações
            tecnológicas, programas de capacitação profissional e upskilling, além da atração de talentos com as
            habilidades condizentes com essa tendência.
          </p>
          <a class="linkReferencia ladoE"
            href="https://www.contabeis.com.br/noticias/66063/o-que-muda-com-a-inteligencia-artificial-na-contabilidade-e-no-rh/"
            target="_blank" title="Contábeis || O que muda com a inteligência artificial na contabilidade e no RH">
            <p class="noticiaFonte ladoE">Contábeis - Click aqui para acessar a matéria na integra.</p>
          </a>
        </div>
      </div>

      <div class="noticiaBox noticiaD">
        <a class="linkReferencia"
          href="https://www.terra.com.br/noticias/prioridades-para-liderancas-e-rh-no-mundo-do-trabalho,d1944adb4da47c80f576b1244cbbd0eauv9pez5t.html#:~:text=Os%20atributos%20mais%20importantes%20a,resolu%C3%A7%C3%A3o%20de%20problemas%20(29%25)."
          target="_blank" title="Terra Agora || Prioridades para Lideranças...">
          <img src="src/img/prioridadeNoRh.jpg" alt="Pessoas reunidads em um grupo" class="noticiaImg">
        </a>

        <div class="noticiaBoxTextos ladoD">
          <h2 class="noticiaBoxTitulo ladoD">Prioridades para Lideranças e RH no Mundo<br> do Trabalho</h2>
          <p class="noticiaBoxTexto ladoD">
            Mudanças no mercado e nas prioridades dos colaboradores impõem desafios às companhias; pesquisa do
            ManpowerGroup revela as apostas para os próximos meses.
            A rápida transformação digital, aliada às mudanças no comportamento e nos objetivos dos profissionais, pode
            impor novas demandas às empresas na atração e na gestão de suas equipes para os próximos meses. Para deixar
            o cenário ainda mais desafiador...
          </p>
          <a class="linkReferencia ladoD"
            href="https://www.terra.com.br/noticias/prioridades-para-liderancas-e-rh-no-mundo-do-trabalho,d1944adb4da47c80f576b1244cbbd0eauv9pez5t.html#:~:text=Os%20atributos%20mais%20importantes%20a,resolu%C3%A7%C3%A3o%20de%20problemas%20(29%25)."
            target="_blank" title="Terra Agora || Prioridades para Lideranças...">
            <p class="noticiaFonte ladoD">Terra Agora - Click aqui para acessar a matéria na integra.</p>
          </a>
        </div>
      </div>
      <!-- <h1>Noticiais</h1>
      
      <a href="https://www.correioweb.com.br/mundo-corporativo">
        <div class="noticia2-container">
          <div class="noticia2">
            <div class="conteudo">
              <img src="938f175c_5bfe_43cd_8f20_0d5948f3de92-38962628.jpg" width="300" height="168" alt="">
              <div class="texto">
                <h2>Prioridades para Lideranças e RH no Mundo do Trabalho</h2>
                <p>Mudanças no mercado e nas prioridades dos colaboradores impõem desafios às companhias; pesquisa do
                  ManpowerGroup revela as apostas para os próximos meses.</p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </a>
  
  
      <a href="https://www.contabeis.com.br/noticias/66063/o-que-muda-com-a-inteligencia-artificial-na-contabilidade-e-no-rh/"
        class="noticia-link">
        <div class="noticia3">
          <div class="conteudo">
            <img src="o-que-muda-com-a-inteligencia-artificial-na-contabilidade-e-no-rh.webp" width="300" height="168"
              alt="">
            <div class="texto">
              <h2>O que muda com a inteligência artificial na contabilidade e no RH</h2>
              <p>O uso de IA na contabilidade e recursos humanos vem se tornando uma prática comum nas empresas. Entenda
                como isso impacta os profissionais dessas áreas.</p>
              <p>12/07/2024 08:45</p>
              <p>informe publicitário</p>
            </div>
          </div>
        </div>
      </a>
  
  
      <a href="https://www.contabeis.com.br/noticias/66107/profissionais-brasileiros-sao-os-que-mais-recusariam-promocao-no-trabalho-para-preservar-o-bem-estar/"
        class="noticia-link">
        <div class="noticia4">
          <div class="conteudo">
            <img
              src="profissionais-brasileiros-sao-os-que-mais-recusariam-promocao-no-trabalho-para-preservar-o-bem-estar.webp"
              width="300" height="168" alt="">
            <div class="texto">
              <h2>Profissionais brasileiros são os que mais recusariam promoção no trabalho para preservar o bem-estar,
                revela pesquisa global Michael Page</h2>
              <p>Os profissionais brasileiros são os que mais recusariam promoção no trabalho para preservar o bem-estar.
                É o que aponta o estudo global Talent Trends, da Michael Page, uma das maiores consultorias especializadas
                em recrutamento de executivos. De acordo com a pesquisa, 56% dos profissionais brasileiros recusariam uma
                promoção a fim de preservar o bem-estar. Os indicadores do Brasil superam as médias global (48%), da
                América Latina (43%) e de países como Colômbia (44%), Panamá (42%), Argentina (41%), Chile (39%), Peru
                (18%) e México (36%).</p>
              <p>17/07/2024 18:30</p>
              <p>Fonte: Michael Page</p>
            </div>
          </div>
        </div>
      </a> -->

    </section>

    <section class="secaoChamada" aria-label="Conheça mais sobre a Turnover">

      <div class="faixaChamada">
        <p class="faixaTexto">
          Chega de <span class="faixaTextoDestaque">"Familia"</span> e <span
            class="faixaTextoDestaque">"Feedbacks"</span>
          que só te enrolam! </p>
        <p class="faixaTexto">
          Aqui você encontra o que o seu RH realmente precisa!
        </p>
        <img class="logoFaixa" src="src/img/logo_Turnover_branco.png" alt="Logo da empresa turnover">
      </div>

      <div class="chamadaDor">

        <video class="chamadaDorVideo" autoplay loop muted>
          <source src="src/video/rh_frustrada.mp4" type="video/mp4">
          video não suportado
        </video>

        <div class="dorTextos">
          <h2 class="dorSuperTitulo">Cansado de uma gestão com:</h2>
          <h3 class="dorTitulo">Processos Manuais Ineficientes ?</h3>
          <ul class="dorLista">
            <li class="dorItem">Os processos manuais, como o cadastramento de colaboradores e o acompanhamento de
              documentação, são lentos e propensos a erros.</li>
            <li class="dorItem">Essas atividades consomem tempo e recursos valiosos, prejudicando a eficiência e a
              produtividade da sua equipe.</li>
          </ul>

          <h3 class="dorTitulo">Falta de Centralização de Informações ?</h3>
          <ul class="dorLista">
            <li class="dorItem">A dispersão de informações em diferentes sistemas ou arquivos físicos dificulta o acesso
              rápido e preciso aos dados dos funcionários cedidos.</li>
            <li class="dorItem">Isso gera atrasos e frustrações, impactando negativamente a gestão de recursos humanos.
            </li>
          </ul>

          <h3 class="dorTitulo">Visão Limitada e Tomada de Decisões ?</h3>
          <ul class="dorLista">
            <li class="dorItem">A ausência de dados consolidados e análises aprofundadas sobre a locação dos
              colaboradores impede a identificação de oportunidades de otimização.</li>
            <li class="dorItem">Isso dificulta a tomada de decisões estratégicas assertivas, comprometendo o crescimento
              e a eficiência da sua empresa.</li>
          </ul>
        </div>
      </div>

      <div class="chamadaSolucao">

        <div class="solucaoTextos">
          <h2 class="solucaoSuperTitulo">Venha para Turnover</h2>

          <h3 class="solucaoTitulo">Acesso aos Dados do Colaborador</h3>
          <p class="solucaoTexto">Armazene e gerencie dados documentais com acesso rápido e seguro para todos os
            envolvidos no processo.
            Reduza o uso de papel e aumente a eficiência.</p>

          <h3 class="solucaoTitulo">Painéis e Relatórios Personalizados</h3>
          <p class="solucaoTexto">Crie painéis e relatórios personalizados para acompanhar o desempenho dos
            colaboradores, identificar
            oportunidades de otimização e tomar decisões estratégicas assertivas.</p>

          <h3 class="solucaoTitulo">Área do Funcionário</h3>
          <p class="solucaoTexto">Área para que os funcionários atualizem seus dados e acessem informações importantes,
            reduzindo a carga de
            trabalho da equipe interna.</p>

          <h3 class="solucaoTitulo">Colaborador no Centro do Processo</h3>
          <p class="solucaoTexto">Priorizamos a agilidade na contratação, oferecendo um processo simplificado, rápido,
            transparente e
            personalizado.</p>
        </div>
        <video class="chamadaSolucaoVideo" autoplay loop muted>
          <source src="src/video/rh_group.mp4" type="video/mp4">
          video não suportado
        </video>
      </div>

      <div class="ctaBox">
        <h3 class="cta">Descubra como nosso software pode transformar a gestão de RH da sua empresa.</h3>
        <a href="#" class="ctabtn">Solicite uma demonstração agora!</a>
      </div>
    </section>

    <!-- fim noticias -->
    <!-- inicios sobre nós -->
    <!--     
    <h1>Sobre Nós</h1>
    <div class="equipeCards">
      <div class="equipeCard douglasFerreira">
        <img src="douglas.jpg" alt="" class="cardFoto">
        <div class="cardTextos">
          <h4 class="cardNome">Douglas Daniel Moraes Ferreira</h4>
          <p class="cardTexto">Desde 2017, tenho buscado constantemente aprimorar minhas habilidades profissionais, com
            foco em diversas áreas, desde administração até tecnologia. Concluí meu bacharelado em administração e
            atualmente estou cursando Engenharia de Software na Unicesumar, com previsão de conclusão em 2027.
            Participei do Bootcamp Santander 202, especializando-me em Java e Angular. Tenho planos de seguir minha
            especialização em banco de dados e desenvolvimento de sistemas. Estou comprometido em me tornar um
            profissional qualificado, pronto para enfrentar os desafios do mercado e contribuir para o sucesso das
            organizações.</p>

        </div>
      </div>
      <div class="equipeCard netoRusso">
        <img src="neto.jpeg" alt="Imagem do Neto Russo com cabelos escuros e barba rala e oculos escuros"
          class="cardFoto">
        <div class="cardTextos">
          <h4 class="cardNome">Neto Russo</h4>
          <p class="cardTexto">Neto Russo é um profissional brasileiro com uma história inspiradora de superação e
            paixão pela tecnologia. Graduado em Publicidade e Marketing, com ênfase em H2H, e certificado em PNL para
            lidar com inteligência emocional e resolução de conflitos, ele possui uma bagagem profissional sólida e
            diversificada. Ao longo de sua carreira, acumulou experiência em gestão, supervisão, negociação, consultoria
            e desenvolvimento de projetos, demonstrando grande versatilidade e capacidade de adaptação a diferentes
            desafios.
            Em 2022, Neto enfrentou um momento crucial em sua vida: uma cirurgia de amputação. Com resiliência e força
            de vontade admiráveis, ele transformou esse evento em uma oportunidade de reinvenção profissional. Movido
            por um fascínio crescente pela área de tecnologia, ele decidiu migrar sua carreira para o desenvolvimento
            frontend, área na qual vem se dedicando com afinco e entusiasmo.</p>

        </div>
      </div>
      <div class="equipeCard Romulo">
        <img src="romulo.jpeg" alt="Imagem do Marcelo com cabelos escuros e barba rala" class="cardFoto">
        <div class="cardTextos">
          <h4 class="cardNome">Romulo Nogueira de Souza</h4>
          <p class="cardTexto"> 39 anos, herói da vida real, superou desafios na área de Segurança do Trabalho e
            enfrentou complicações de saúde. Em fevereiro de 2023, uma infecção grave levou à amputação trans tibial
            abaixo do joelho.
            Com apoio da companheira e equipe médica, ele superou o luto e aprendeu a viver com a prótese. Apesar do
            alto custo, uma vaquinha online proporcionou o apoio necessário.
            Com a prótese, Rômulo deu os primeiros passos em sua nova jornada, inspirando outros a enfrentarem
            adversidades com esperança e força.
            Símbolo de perseverança e esperança, ele ensina que a força interior nos permite recomeçar e construir uma
            vida significativa.</p>
        </div>
      </div>

      <div class="equipeCard pedro">
        <img src="pedro (2).jpeg" alt="" class="cardFoto">
        <div class="cardTextos">
          <h4 class="cardNome">João Vitor Gonçalves Soares Dos Santos</h4>
          <p class="cardTexto">Profissional dedicado e apaixonado pelo desenvolvimento Front-End, com um forte
            compromisso com o aprendizado contínuo e o aprimoramento pessoal e profissional...</p>

        </div>
      </div>
    </div>
    </div>
    </div>




    </section>
    <section id="contatos" class="contatos secao">

      <div class="contatinos">
        <h2 class="contatosTitulo">Entre em contato Contato</h2>
        <p class="contatosTexto">qualquer duvida deixe seus contatos ou chame a baixo!</p>

        <form action="seuemail@gmail.com" method="post" enctype="text/plain" class="contatoForm">

          <label for="nome">
            <h4 class="formTitulo">Nome:</h4>
          </label><br>
          <input type="text" id="nome" name="nome" placeholder="Me diga o seu nome" required class="formInput"><br>

          <label for="email">
            <h4 class="formTitulo">Email:</h4>
          </label><br>
          <input type="email" id="email" name="email" placeholder="O seu melhor e-mail" required class="formInput"><br>

          <label for="mensagem">
            <h4 class="formTitulo">Mensagem:</h4>
          </label><br>
          <textarea id="mensagem" name="mensagem" placeholder="Me conte tudo e não me esconda nada..." width="300"
            required class="formMensagem"></textarea><br>

          <button class="botaoEnviar botao">enviar</button>
          <button class="botaoLimpar botao" type="reset">limpar</button>

      </div>
    </section>
  </main> -->

    <footer>
      <p>CNAE. 7830-2/00 || CNPJ. 00.000.000/000-00 || todos direitos reservados Turnover® 2024</p>
    </footer>
    <script src="scripts/main.js"></script>
</body>

</html>