<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Douglas Moraes, Neto Russo, Romulo Nogueira, Pedro Augusto">
    <link rel="shortcut icon" href="../src/img/favicon.png" type="image/png">
    <title>Turnover - Dashboard</title>
    <script defer src="../scripts/main.3b798857.js"></script>
    <link rel="stylesheet" href="../styles/main.5b48faef.css">
</head>
<body id="root">
    
</body>
</html>