<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados Pessoais</title>
    <link rel="stylesheet" href="fun.css">
</head>
<body>
<header>
    <img src="logo_Turnover.png">
</header>
    <table>
        <tr>
            <th>Nome Completo</th>
            <th>Salário</th>
            <th>CPF</th>
        </tr>
        <tr>
            <td>João Silva</td>
            <td>R$ 4.500,00</td>
            <td>123.456.789-00</td>
        </tr>

    </table>
</body>
</html>
