<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Ponto</title>
  <link rel="stylesheet" href="../styles/ponto.css">
</head>

<body>
  <header id="header">
    <img src="../src/img/logo_Turnover.png" width="548" alt="logo">
    <h1>Marcação de Ponto</h1>
  </header>

  <main>
    <div class="container">
      <h1>Registro de Ponto</h1>
      <button id="pontoBtn">Bater Ponto</button>
      <ul id="registros"></ul>
    </div>
  </main>
  <script src="../scripts/ponto.js"></script>
</body>

</html>