@import url('resetAndRoot.css');



body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

#header {
  background-color: var(--color-green-1);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  /* Adiciona um fundo branco ao header */
}

header img {
  width: 300px;
  margin-right: 20px;
}

header h1 {
  margin: 0;
  display: flex;
  align-items: center;
}

.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  /* Adiciona espaço entre o header e o container */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #e9e9e9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

/*Responsividade */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}