@import url("resetAndRoot.css");


header {
  width: 100%;
  min-height: 95vh;
  height: auto;
}

main {
  background-color: var(--color-white);
  }


/*noticias*/

.noticiaSection {
  padding: 50px 16px;
  min-height: 100vh;
}

.noticiaCabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 32px;
}

.noticiasTitulo {
  font-size: var(--font-size-title-2);
  color: var(--color-standard);
  text-align: center;
}

.simboloNoticia {
  height: var(--font-size-title-2);
  width: auto;
}

.noticiaBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.noticiaImg {
  width: 30%;
  min-width: 320px;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  margin: 32px 0;
}

.noticiaBoxTextos {
  width: 60%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.noticiaBoxTitulo {
  width: 100%;
  min-width: 320px;
  font-size: var(--font-size-title-2);
  color: var(--color-standard);
  text-align: left;
}

.noticiaBoxTexto {
  width: 80%;
  min-width: 320px;
  font-size: var(--font-size-text-1);
  color: var(--color-standard);
  text-align: left;
  line-height: 1.5;
}

.linkReferencia {
  text-decoration: none;
  width: auto;
}




@media screen and (max-width: 768px) {
  .noticiaBox {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 16px 0;
  }
}





/* 
.noticia-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
}

.noticia-link {
  text-decoration: none;
}

.noticia1, .noticia2, .noticia3, .noticia4 {
    max-width: 700px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}
.conteudo {
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.texto {
  flex: 1;
}

.noticia1 h2, .noticia2 h2, .noticia3 h2, .noticia4 h2 {
  margin-top: 0;
}

.noticia1 p, .noticia2 p, .noticia3 p, .noticia4 p {
  line-height: 1.6;
} */

/*
.noticia1 h5, .noticia2 h5, .noticia3 h5, .noticia4 h5 {
  margin-bottom: 0;
  color: #666;
}
  */



/*cards*/

.equipe {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 150px;
}

.equipeConteudo {
    gap: 20px;
	padding: 0 10%;
	flex-direction: column;
	align-items: center;
}

.equipeTitulo {
	font-size: 30px;
    text-align: center;
}

.equipeCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.equipeCard {

	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
    width: 100%;
}

.cardFoto {
	width: 150px;
	height: 150px;
	object-fit: cover;
	padding: 10px;
	border: solid 3px chartreuse;
	border-radius: 100px;
	z-index: 2;
}

.cardTextos {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 100px 20px 40px 20px;
	border: solid 3px greenyellow;
	border-radius: 20px;
	margin-top: -100px;
	position: relative;
	z-index: 1;

}

.cardLink {
	display: flex;
	flex-direction: row-reverse;
}

.cardNome {
	font-size: 20px;
	color: black;
    text-align: center;
}

.cardTexto {
	max-height: 360px;
	height: 360px;
	font-size: 16px;
	color: black;
	font-weight: 500;
	line-height: 24px;
}

.linkedin {
	width: 64px;
	height: auto;
	position: absolute;
}

.linkedin:hover {
	cursor: pointer;
	scale: 1.2;
}



/* footer*/



footer {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
}


/* Estilos responsivos */

@media (max-width: 360px) {
  .menu-toggle {
    height: 40px;
    width: 40px;
    bottom: 10px;
    right: 10px;
  }

  .nav-links {
    bottom: 60px;
    right: 10px;
    width: calc(100% - 20px);
    max-width: none;
    padding: 5px;
  }

  .nav-links li {
    margin: 5px 0;
    padding: 5px 0;
  }
}